body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Catamaran', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

.container:first-of-type {
    overflow-x: visible;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}


/*--------------------------------HEADER--------------------------------*/
.header {
    background-color: #373636;
}


.header a,
.nav a{
    text-decoration: none;
    color: inherit;
}

.formatting {
    max-width: 1240px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.formatting.formatting-header {
    display: block;
    position: relative;
}

.header-menu-mobile {
    display: none;
}

.header-language {
    color: #adb0b1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0;
    float: left;
}


.header-language-flag{
    color: #adb0b1;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-language-flag p {
    padding: 2px 8px;
}

.header-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-call img {
    padding: 0 8px;
}

.header-call a{
    color: white;
    font-weight: 600;
}

.header-logo img {
    display: inline-block;
    vertical-align: middle;
}

.header-logo {
    float: none;
    display: block;
    position: absolute;
    left: 35%;
    right: 35%;
    text-align: center;
    line-height: 90px;
}

.header-info {
    color: #adb0b1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    float: right;
    padding: 15px 0
}

.header-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.header-link li {
    padding: 0 10px;
}

.log li:last-child  {
    color: #74d46b;;
}

.log .fas {
    padding: 0 3px;
}

/*--------------------------------NAV--------------------------------*/
.nav {
    background-color: white;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.13);
    position: relative;
}


.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    width: 85%;
    text-transform: uppercase;
    color: #6c6f70;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0;
    margin: 0 auto;
}

.nav-li {
    margin: 10px 1%;
    white-space: nowrap;
    float: left;
}

.nav-search {
    width: 15%;
    float: left;
}

.nav-search input#search{
    width: 150px;
    height: 20px;
    background: white;
    border: none;
    float: left;
    color: #6c6f70;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;

}

.nav-search .fa{
    color: #6c6f70;
    font-size: 16px;
    font-weight: 900;
}
/*--------------------------------MAIN--------------------------------*/

.section-first {
    padding: 60px 0;
    width: 100%;
}

.main-title-left {
    float: left;
    width: 54%;
    position: relative;
}

.main-title-img {
    z-index: 0;
    width: 100%;
    height: auto;
}

.main-title-info {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 350px;
    width: 350px;
    background: #fff;
    padding: 30px 25px;
    box-sizing: border-box;
}

.main-h2 {
    color: #373636;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
}

.main-p {
    color: #6c6f70;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 25px 0 30px;
    letter-spacing: 1px;
}

.main-button {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #b7c1c5;
    border-radius: 2px;
    padding: 15px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 25px 0 30px;
}

.bth-main {
    position: absolute;
    top: 0;
    right: 0;
    width: 78px;
    height: 40px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn-prev {
    padding: 15px;
    color: #b7c1c5;
}

.main-title-info:first-child a{
    background-color: #74d46b;
}

.main-blog {
    float: right;
    width: 46%;
}

.blog-top {
    display: flex;
    margin-bottom: 55px;
    background-color: white;
}

.main-block-video {
    position: relative;
    width: 50%;
}

.blog-info {
    padding: 20px 3%;
    width: 50%;

}

.blog-info .main-h2 {
    padding-bottom: 15px;
}

.blog-avatar {
    margin-right: 2%;
    float: left;
}

.blog-date {
    color: #6c6f70;
    font-weight: 400;
    line-height: 15px;
}

.blog-spot {
    font-size: 12px;
    color: #74d46b;
    font-weight: 400;
    line-height: 15px;
}

.main-advert {
    float: right;
    background-color: #74d46b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 515px;
    padding: 30px 25px;
    box-sizing: border-box;
    position: relative;
}

.advert-info {
    color: #373636;
    line-height: 22px;
    width: 70%;
}

.advert-person {
    position: absolute;
    width: 30%;
    bottom: -3px;
    right: 10px;
}



.advert-info h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}

.advert-info a {
    color: black;
    font-weight: 400;
}

.advert-info a:first-child {
    text-decoration: none;
}

.section-second {
    width: 100%;
}

.section-first-icon {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    padding-top: 65px;
}

.icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4%;
    justify-content: center;
    align-content: center;
}

.icon-block img {
    padding: 5px;
    width: 40px;
    height: 40px;
}


.icon-block a {
    text-decoration: none;
    color: #6c6f70;
    line-height: 21px;
    padding: 5px 10px;
    display: flex;
    margin: auto;
}

.icon-block hr {
    border: dotted 1px #b7c1c5;
}

.widget-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-top: 25px;
}

.widget-block {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #373636;
    display: inline-block;
    width: 16.4%;
    box-sizing: border-box;
    list-style-type: none;
    vertical-align: top;
    text-align: center;
    margin-bottom: 25px;
}


.widget-block .fa-angle-right {
    color: #f4b811;
}

.widget-wraper {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-size: auto 120px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto 20px;
}


.widget-img {
    max-width: 100%;
    height: auto;
}

/*
.widget-block:hover .widget-img{
    width: 120px;
    height: 120px;
}

.widget-block:hover p {
    font-weight: 600;
    padding-left: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}*/

.section-2-bloc-1,
.section-2-bloc-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-2-bloc-1 p {
    color: #6c6f70;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.tilda {
    color: #b7c1c5;
    font-family: 'Playfair Display', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 24px;
}

.doted-mobile {
    display: none;
    border: 1px dotted #b7c1c5;
    margin: 15px 0;
}

.main-section-h2 {
    color: #373636;
    font-family: 'Playfair Display', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 24px;
    padding: 50px 0 25px;
    text-align: center;
    line-height: 1;
}

.section-second {
    margin: 0 auto;
    position: relative;
}

.images .owl-carousel .owl-loaded .owl-drag {
    position: relative;
}

.section-second .owl-nav {
    border: none;
    background-color: inherit;
    font-size: 24px;
    line-height: 24px;
    color: #444;

    display: block;
    z-index: 50;
}

.section-second .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}

.section-second .owl-carousel.owl-loaded {
    position: inherit;
}

.section-second .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 100;
    color: #444!important;
    padding: 150px 20px!important;
}

.section-second .owl-nav {
    position: inherit;
}

.section-second .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: 40%;
    z-index: 100;
    color: #444!important;
    padding: 150px 20px!important;
}

.section-second ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.section-2-li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 16px;
    border-radius: 2px;
    background-color: #b7c1c5;
}

.section-2-li {
    margin: 15px 5px;
}

/*--------------------CAROUSEL--------------------------*/

.carousel {
    position: relative;
    width: auto;
    padding: 10px 40px 60px;
}


.carousel img {
    display: block;
}

.carousel-arrow {
    position: absolute;
    top: 30%;
    border: none;
    background-color: inherit;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    padding: 150px 20px;
    display: block;
    z-index: 50;
}


.carousel-arrow:focus {
    outline: none;
}

.carousel-arrow:hover {
    cursor: pointer;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}

.discount .new-discount {
    position: absolute;
    width: auto;
    top: 5%;
    left: -1%;
}

.discount-percent {
    top: 5%;
    left: -1%;
    width: 124px;
    line-height: normal;
    height: 29px;
    position: absolute;
    z-index: 666;
}

.discount-percent p {
    color: white!important;
    font-size: 13px!important;
    line-height: 30px!important;
    padding-left: 10px!important;
}

.gallery {
    width: auto;
    overflow: hidden;
}

.gallery ul {
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: margin-left 250ms;
    transition: margin-left 250ms;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.gallery li {
    display: block;
    height: auto;
    background-color: white;
    margin: 10px 0 60px;

}

.carousel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 415px;
    position: relative;
}

.carouse-item-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item a:first-child {
    min-height: 202px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.carousel-item img{
    max-width: 100%;
    max-height: 100%;
}

.carouse-item-info-block h4{
    margin: auto;
    color: #373636;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    min-height: 75px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}



.carousel-item p {
    color: #6c6f70;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 0 10px;
}

.carousel-item a {
    color: #373636;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: underline;
}

.carousel-item a:last-child {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #6c6f70;
    text-decoration: none;
}

.carousel-item .fa-shopping-cart {
    color: #74d46b;
    padding-right: 5px;
}

.carousel-item .fa-angle-right {
    color: #f4b811;
}

/*.carousel-item:hover {
    -webkit-box-shadow: 0 0 59px 0 rgba(0,0,0,0.57);
    -moz-box-shadow: 0 0 59px 0 rgba(0,0,0,0.57);
    box-shadow: 0 0 59px 0 rgba(0,0,0,0.57);
    border-bottom: #74d46b solid 4px;
}*/


.bkgd-2 {
    background-color: white;
}

.section-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.carouse2 {
    position: relative;
    width: auto;
    padding: 10px 40px 0;
}

.gallery2 li {
    width: 33.3%;
    padding: 0 1%;
}

.carusele-block-discr img{
    float: left;
    height: auto;
    width: auto;
}

.carousel2 {
    height: auto;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: block;
    background-color: #f9f9f9;
}

.carousel2 a:first-child {
    height: 240px;
    text-align: left;
}

.carousel2 a:last-child {
    color: #373636;
    line-height: 28px;
    text-decoration: underline;
}

.carousel2 h4 {
    text-align: left;
    height: auto;
    padding: 10px 0;
}

.carousel2 p {
    color: #6c6f70;
    font-size: 14px;
    font-weight: 400;
}


.carousel2 p span {
    color: #373636;
    font-size: 14px;
    font-weight: 700;
}

.carousel2 hr {
    height: 1px;
    background-color: #e2e2e2;
    margin: 5px 0 25px;
}

.carusele-block-discr p {
    padding: 5px 0 0;
}

.carusele-block-discr img {
    padding: 10px 10px 10px 0;
}

.carusele-block-discr h4{
    padding: 0;
}

.carouse-item-block {
    padding: 10px 25px 30px;
}

.section-fourth {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-button-section2 {
    margin-top: 0;
}

.discount-price {
    color: #d33a11;
    font-weight: 600;
    padding-left: 5px;
}

.deals {
    max-width: 640px;
    max-height: 500px;
    height: 500px;
    border: 1px solid #fb9761;
    margin: 30px 0 200px;
}

.deals-1 {
    float: left;
    width: 66.6%;
    height: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deals-2 {
    float: right;
    width: 33.3%;
    height: 72%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deals-3 {
    float: left;
    width: 33.3%;
    height: 72%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deals-4 {
    float: left;
    width: 33.3%;
    height: 44%;
}

.deals-5 {
    float: right;
    width: 66.6%;
    height: 28%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deals-1 hr,
.deals-5 hr {
    height: 90%;
    color: #74d46b;
}

.deals-2 hr,
.deals-3 hr {
    width: 90%;
    color: #74d46b;
}

.img-deals {
    width: 100%;
}

.deals-text-left {
    float: left;
    width: 30%;
    padding-left: 5%;
}

.deals-text-right {
    float: right;
    width: 30%;
}

.deals-text-top {
    height: 30%;
    padding-top: 20%;
    padding-left: 5%;
}

.deals-text-down {
    height: 30%;
}

.img-deals-down {
    height: 70%;
}

.img-deals-top {
    height: 70%;
    padding-top: 20%;
}

.img-deals-left {
    float: left;
    width: 70%;
    padding: 10%;
}

.img-deals-right {
    float: right;
    width: 70%;
    padding-right: 5%;
}

.deals a{
    text-decoration: none;
}


.deals-text h4 {
    color: #333;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 20px;

}

.deals-text p {
    color: #74d46b;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 30px;
}

.carousel-item.carousel2 a:first-child {
    height: auto;
}

.section-third .carousel-item a:first-child {
    min-height: auto;
}


.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 40px;
}

.social h5 {
    color: #373636;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.social p {
    color: #6c6f70;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 20px 50px 25px;
}

.social a {
    padding: 0 14px;
}

.input-email {
    height: 40px;
    width: 50%;
    background-color: white;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    -webkit-box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.25);
}

.input-subscribe {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #b7c1c5;
    border-radius: 2px;
    padding: 16px 11px;
    letter-spacing: 1px;
    border: 0;
}


/*-----------------------FOOTER--------------------------*/

.footer {
    background-color: #373636;
}

.footer-block {
    width: 20%;
    padding: 60px 0 90px ;
}

.footer-block:first-of-type {
    width: 38%;
    margin-left: 2%;
}

.footer-column {
    -webkit-columns: 2;
    columns: 2;
}

.footer-block h5{
    font-weight: 400;
    color: white;
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 21px;
    line-height: 22px;
    padding-bottom: 25px;
}

.footer-block a{
    text-decoration: none;
    color: #adb0b1;
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
}

.footer-block .fa-angle-right {
    color: #ffc82e;
    font-size: 14px;
    line-height: 35px;
    padding-right: 1%;
}

.block-padding {
    padding-top: 47px;
}

.footer2 {
    background-color: white;
}

.footer-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 0 10px;
}

.footer-services a {
    color: #6c6f70;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}

.formatting-bottom {
    position: relative;
}

.btn-footer {
    display: none;
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #494747;
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    text-decoration: none;
}

.btn-pls {
    right: 3%;
    top: 85%;
}

.btn-mns {
    right: 3%;
    bottom: 85%;
}
.footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer-icons img {
    padding: 0 10px;
}

.footer-bottom {
    height: 50px;
}












.dropdown-menu ul {
    margin: 0;
    padding: 0;
    width: 135px;
    list-style: none;
    display: none;

}
.dropdown-menu ul li {
    height: 35px;
}

.dropdown-menu ul li a {
    display: block;
    width: 100%;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.dropdown-menu ul li:hover {
    background-color: #74d46b;
}

.dropdown-menu.lang ul li a[data-lang=ne] {
    background: url("../img/Rectangle 5 copy 2.png") no-repeat 5px center;
}
.dropdown-menu.lang ul li a[data-lang=ru] {
    background: url("../img/russia-flag-16x16.png") no-repeat 5px center;
}
.dropdown-menu.lang ul li a[data-lang=ua] {
    background: url("../img/ukraine-flag-16x16.png") no-repeat 5px center;
}

.dropdown-menu .title {
    display: inline-block;
    width: 60%;
    height: 20px;
    padding: 5px 0  5px 35px;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    background: #eaecf0  no-repeat 5px center;
}
.dropdown-menu.lang .title[data-lang=ne]{
    background: url("../img/Rectangle 5 copy 2.png") no-repeat 5px center;
}

.dropdown-menu.lang .title[data-lang=ru]{
    background: url("../img/russia-flag-16x16.png") no-repeat 5px center;
}

.dropdown-menu.lang .title[data-lang=ua]{
    background: url("../img/ukraine-flag-16x16.png") no-repeat 5px center;
}

.dropdown-menu .title::after {
    content: "";
    float: right;
    display: block;
    background: url("../img/down.png") no-repeat 10px center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-menu .disable {
    display: none;
}

.dropdown-menu.open .title {
    background-color: #74d46b;
    color: #fff;
}

.dropdown-menu .lang {
    position: relative;
    width: 100%;
}

.dropdown-menu.open ul {
    display: block;
    position: absolute;
    background-color: #373636;
    z-index: 4;
    width: 100%;
}

.dropdown-menu {
    position: relative;
}

.basket-hidden {
    width: 300px;
    right: 0;
    background: #fff;
    border: 1px solid #bbb;
    margin-top: 14px;
    z-index: 100;
    box-sizing: border-box;
    display: none;
    position: absolute;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
}

.basket-hidden.active {
    display: block;
}

.basket-form {
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sub-total {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 22px;
    color: #74d46b;
}

.basket-list {
    display: flex;
    margin: auto;
    padding: 15px 0;

}

.basket-left {
    width: 50%;
    margin: auto;
}

.basket-left img {
    width: 100%;
}

.basket-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

.basket-right a {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #74d46b;
    border-radius: 2px;
    padding: 4px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 25px 0 30px;
    width: 35%;
}

.basket-btn  {
    width: 42%;
    color: white!important;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #b7c1c5;
    border-radius: 2px;
    padding: 15px 10px;
    letter-spacing: 1px;
    margin: 0 auto;
}

.basket-btn:hover {
    background-color: #74d46b;
}

.carousel {
    display: none;
}

.carousel.active {
    display: block;
}

.section-2-li .active {
    background-color: #74d46b;
}

.discount img {
    width: auto!important;
}


