@media screen and (max-width: 1023px) and (min-width: 320px) {
    .formatting {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        max-width: none;
    }

    .formatting.formatting-header {
        display: flex;
    }

    .header-logo {
        position: unset;
    }

    .header-menu-mobile {
        display: block;
    }

    .nav-list-mobile {
        display: none;
    }

    .header-language {
        display: none;
    }

    .header-link.cont{
        display: none;
    }

    #basket-form span{
        display: none;
    }

    .header-link.log li:first-of-type {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .btn-footer {
        display: block;
    }

    .nav-search {
        width: 100%;
        padding: 10px 0% 10px 7%;
    }

    .nav-search input#search {
        width: 90%;
        background-color: #f9f9f9;
        border-radius: 2px;
        -webkit-box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.25);
        padding: 15px;
    }

    .nav-search .icon i{
        margin-left: -25px;
        margin-top: 7px;
    }

    .main-title-left {
        float: none;
        width: 60%;
        margin: 0 auto;
    }

    .main-title-info {
    width: 90%;
    max-width: none;
    margin: auto;
    position: relative;
    margin-top: -60px;
    margin-bottom: 60px;
    }

    .main-title-left .owl-carousel .owl-item img {
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        box-sizing: border-box;
    }

    .main-blog {
        float: none;
        width: 90%;
        margin: 0 auto 30px;
    }

    .section-first .owl-nav {
        position: absolute;
        top: 0;
        right: 0;
        left: unset !important;
        bottom: unset !important;
    }

    .main-advert {
        display: none;
    }

    .icon-block hr {
        display: none;
    }

    .images li:nth-of-type(3),
    .images li:nth-of-type(5) {
        display: none;
    }


    .section-third .images li {
        width: 50%;
    }

    .doted-mobile {
        display: block;
        width: 80%;
        margin: 20px auto;
    }

    .footer-block:nth-of-type(4),
    .footer-block:nth-of-type(3){
        display: none;
    }

    .footer-block {
        width: 40%;
    }
}


@media screen and (max-width: 767px) and (min-width: 320px) {

    .main-title-left {
        width: 80%;
    }


    .main-blog {
        display: none;
    }


    .widget-block {
        width: 21%;
    }

    .images li:nth-of-type(4),
    .images li:nth-of-type(2) {
        display: none;
    }


    .section-third .images li {
        width: 100%;
    }

    .deals {
        max-width: 640px;
        max-height: 500px;
        height: 280px;
        margin: 30px 0 100px;
        padding: 5px;
    }

    .deals-text h4 {
        font-size: 14px;
        padding-bottom: 0;
    }

    .deals-text p {
        font-size: 20px;
    }

    .img-deals-down img{
        width: 65%;
        padding: 5px 15px;
    }

    .footer-block:first-of-type {
        display: none;
    }

    .footer-block {
        width: 40%;
        margin: 0 auto;
    }

    .footer-copy {
        padding: 15px 5px;
        margin: 0 auto;
    }

    .footer-icons {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .footer-block {
        width: 90%;
    }

    .footer-block:nth-of-type(3) {
        display: block;
        padding: 0;
    }

    .footer-block:nth-of-type(3) ul {
        display: none;
    }

}

@media screen and (max-width: 723px) and (min-width: 320px) {
    .carousel-item a:first-child {
        height: 190px;
        width: 50%;
        text-align: center;
        padding-top: 10px;
    }

    .owl-carousel .owl-item img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
        width: auto;
    }

    .section-third .carousel-item a:first-child {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 580px) and (min-width: 320px) {
    .main-title-left {
        width: 95%;
    }
    .deals {
        height: 430px;
    }
}

@media screen and (max-width: 580px) and (min-width: 320px) {
    .deals {
        height: 400px;
    }

    .widget-block {
        width: 32%;
    }

}

@media screen and (max-width: 450px) and (min-width: 320px) {
    .deals {
        height: 350px;
    }
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    .deals {
        height: 300px;
    }

    .carousel-item a:first-child {
        height: 190px;
        width: 80%;
        text-align: center;
        padding-top: 10px;
    }
}

@media screen and (max-width: 350px) and (min-width: 320px) {
    .deals {
        height: 270px;
    }
}
